body {
    background: deepskyblue;
    margin: 0;
    padding: 0;
}

#house {
    fill: honeydew;
    stroke: black;
    stroke-width: 3;
    stroke-opacity: 0.9;
}

#grass {
    fill: darkgreen;
    stroke-opacity: 0.9;
}

#sun {
    fill: yellow;
}

#roof {
    fill: brown;
    stroke: black;
    stroke-width: 3;
    stroke-opacity: 0.9;
}

#door {
    fill: red;
    stroke: black;
    stroke-opacity: 0.9;
}

.sun-rays {
    stroke: yellow;
    stroke-width: 4;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: red;
    color: black;
}

#index {
    background-color: #aaa;
    color: black;
    text-align: center;
}

.windows {
    fill: lightblue;
    stroke: black;
    opacity: 0.4;
}
